
<%- include( 'partials/head', { title : title } ) -%>
    <%- include( 'partials/nav', { nav: nav } ) -%>

        <main class="container my-4">
            <h1>About</h1>
            <hr />
            <p>
                This app was created using Express.
            </p>
        </main>

<%- include( 'partials/foot' ) -%>
        