
<%- include( 'partials/head', { title: title } ) -%>
    <%- include( 'partials/nav', { nav: nav } ) -%>

        <main class="container my-4">
            <h1>Blog App</h1>
            <hr />
            <p>
                Welcome to Blog App.
            </p>
        </main>

<%- include( 'partials/foot' ) -%>